<html>
<title><?= $this->title ?></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<body>
<div class="container">

	<div class="starter-template">
		<h1><?= $this->title ?></h1>
		<?= $this->content ?>
	</div>
</div>
</body>
</html>
